<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{% block title %}Enlight{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.js"></script>
    <script src="https://use.fontawesome.com/3d56797dc2.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{{url_for('mrpc.mrpcjs')}}"></script>
    <script src="{{url_for('static', filename='class.js')}}"></script>
    <script src="{{url_for('static', filename='widget.js')}}"></script>
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
    {% block includes %}{% endblock %}
</head>
<body>
    <div id="container">
        <div class='nav-container'>
            <div class='nav-header'>
                <i class="fa fa-bars" aria-hidden="true"></i>
                <div class='nav-title'>Enlight</div>
                <div class='btn speech pull-right'><i class='fa fa-microphone'></i></div>
                <div class='speech-info pull-right'>Faff</div>
            </div>

        </div>
        <div id='content'>
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>

{% block script %}
{% endblock %}