{% extends "base.html" %}

{% block content %}
<div class='nav-container'>
    <div class='nav-header'>
        <i class="fa fa-bars" aria-hidden="true"></i>
        <div class='nav-title'>Enlight</div>
    </div>

</div>
<div id='content' class='row'>
    <div class='col-xs-12 col-sm-6 col-md-4' id = "main"></div>
    <div class='col-xs-12 col-sm-6 col-md-4' id = "debug"></div>
</div>
{% endblock %}

{% block script %}
<script>
    var apiwidget = new Widget("Home");
    apiwidget.add(new RPCButton("Buzz Door", "/Door", "buzz", null));
    apiwidget.add(new Text("/LivingRoom", "temperature"));
    var debugwidget = new Widget("Debug");
    debugwidget.add(new RPCButton("Test", "/Control", "current_values", null));
    debugwidget.add(new Debug());
    debugwidget.collapse_div.toggleClass("in");
    $("#main").append(apiwidget.element);
    $("#debug").append(debugwidget.element);
</script>
{% endblock %}