{% extends "base.html" %}

{% block includes %}
<script src="{{url_for('static', filename='speech.js')}}"></script>
{% endblock %}
{% block content %}
<div class='row'>
    <div class='col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2' id="main"></div>
    <div class='col-xs-12 col-sm-5 col-md-4' id="debug"></div>
</div>
{% endblock %}

{% block script %}
<script>
var widgetjson = {
    type: "Widget",
    args: {
        title: "Home",
        children: [
            {
                type: "WidgetRow",
                args: {
                    title: "Front Door",
                    type: "button",
                    button_text: "Buzz",
                    path: "/Door",
                    procedure: "buzz",
                    icon: "fa-sign-in"
                }
            },
            {
                type: "WidgetRow",
                args: {
                    title: "LED",
                    type: "slider",
                    button_text: "Buzz",
                    path: "/SimpleService",
                    procedure: "light",
                    icon: "fa-sign-in"
                }
            }
        ]
    }
}
var debugjson = {
    type: "Widget",
    args: {
        title: "Debug",
        children: [
            {
                type: "WidgetRow",
                args: {
                    title: "Test",
                    path: "/Control",
                    procedure: "current_values",
                    showresult: true,
                    command: "((open|buzz)( the)? door|(let|buzz).*?(me|in))",
                    icon: "fa-question"
                }
            },
            {
                type: "WidgetRow",
                args: {
                    title: "Test",
                    path: "/Control",
                    procedure: "current_values",
                    icon: "fa-question"
                }
            },
            {
                type: "WidgetRow",
                args: {
                    title: "Test",
                    path: "/Control",
                    type: "slider",
                    procedure: "current_values",
                    icon: "fa-question"
                }
            },
            {
                type: "Debug"
            }
        ]
    }
}
    var apiwidget = Element.from_json(widgetjson);
    var debugwidget = Element.from_json(debugjson);
    $("#main").append(apiwidget.element);
    $("#debug").append(debugwidget.element);
    debugwidget.collapse();
    Element.update();
    window.setInterval(Element.update, 2000);
</script>
{% endblock %}